<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
</head>
<body>
     <div th:text="${branch.branchCode}"></div>
     <div th:text="${branch.branchName}"></div>
     <a class="btn btn-primary" th:href="@{/createClass(branch=${branch.id})}">Create Class</a>
     
     <div class="container">
     	<div class="row" th:each="class : ${classes}">
     		<a th:href="@{/classDetails(classId=${class.id})}" th:text="${class.classCode}"></a>
     	</div>
     </div>
</body>
</html>