<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{js/jquery-3.3.1.slim.min.js}"></script> -->
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
</head>
<body>
	<div th:text="${account.accountName}"></div>
	<div class="container">
		<div class="row">
			<div>
				<a th:href="@{/newBranch(accountId=${account.id})}" class="btn btn-default">Create Branch</a>
			</div>
		</div>
	</div>
	<div class="container">
			<div th:each="branch : ${branches}" class="row">
				<p><a th:href="@{/branchInfo(id=${branch.id})}" class="btn btn-default" th:text="${branch.branchName}"></a></p>
			</div>
	</div>
</body>
</html>
