<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Schwwool Management System</title>
<style type="text/css">
html,body
{

	height: 100%;
}
.dotted_container
{
	border: dotted;
	border-width: thin;
	height: 100%;
	width:75%;
	float: let;
}
.right_container
{
	width:25%;
	padding-left: 2px;
	float: right;
    padding: 0px 0px 0px 20px;
}
.right_container >div
{
	margin: 25% 0% 25% 0%;

}
</style>
</head>
<body>
	<div class="dotted_container">xvxzcv</div>
	<div class="right_container">
		<div>
			<form action="/login" method="post">
				<div>User Name: <input name="login"/></div>	
				<div>Password: <input name="password" type="password"/></div>
				<div><button type="submit">Login</button></div>	
			</form>	
		</div>
	
	</div>
</body>
</html>